body {
  text-align: center;
  /* color: white; */
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
}

.App-logo {
  width: 4%;
  position: relative;
  left: 14%;
}

.Buttons{
  /* color: black; */
  position: relative;
  left: 60vh;
  text-align: center;
  justify-content: center;
  margin: 10px;
  outline: none;
}

.Buttons:hover{
  text-decoration: underline;
  font-weight: bold;
}

.User{
  position: relative;
  left: 90vh;
  text-align: center;
  justify-content: center;
  margin: 10px;
  outline: none;
}

.footer{
  padding: 2px;
  margin: 2px;
  -ms-transform: scale(0.7,0.7); /* IE 9 */
-webkit-transform: scale(0.7,0.7); /* Safari */
transform: scale(0.7,0.7);
}
.footer-text{
  font-weight: 500;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif
}
.Footer{
  position: relative;
  top: 8rem;
}
